<ion-header>
    <ion-navbar>
      <button ion-button menuToggle icon-only class="menu-button" *ngIf="!modal">
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title>{{title}}</ion-title>
      <ion-buttons end *ngIf="modal">
          <button ion-button icon-only (click)="closeModal()" class="close">
              <ion-icon item-right name="ios-close-outline"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-content class="banner-container" text-wrap>
        <img *ngIf="heroImage" [src]="heroImage" />
        <p padding *ngIf="content" padding [innerHTML]="content"></p>
      </ion-card-content>
    </ion-card>

    <ion-list *ngIf="posts">
      <ion-item text-wrap *ngFor="let post of posts" (click)="loadPost(post)">
        <ion-thumbnail item-left *ngIf="post.thumbnail">
            <img [src]="post.thumbnail" />
        </ion-thumbnail>
        <p [innerHTML]="post.description"></p>
      </ion-item>
    </ion-list>
  
    <!-- <ion-card *ngFor="let imageElement of imageDeck">
      <img [src]="imageElement.image">
      <ion-card-content>
          <p [innerHTML]="imageElement.title"></p>
          <p [innerHTML]="imageElement.description"></p>
      </ion-card-content>
    </ion-card> -->
<!-- 
    <ion-card *ngIf="imageDeck">
      
        <ion-grid>
          <ion-row>
            <ion-col col-6 col-md-4 col-xl-3 *ngFor="let imageElement of imageDeck">
            <div class="image-container" (click)="openImage(imageElement.image)">
              <img [src]="imageElement.image">
              <p [innerHTML]="imageElement.title"></p>
              <p [innerHTML]="imageElement.description"></p>
            </div>
            </ion-col>
          </ion-row>
          </ion-grid>
      </ion-card> -->
      <ion-slides class="image-slider" *ngIf="imageDeck" #slides pager="true">
        <ion-slide *ngFor="let imageElement of imageDeck; index as i" 
          parallax="true" 
          (click)="openImageSlider(i)"
          padding>
            <img [src]="imageElement.image">
        </ion-slide>      
      </ion-slides>
  </ion-content>