<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only class="menu-button">
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>We Heal</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="selectedPage">
      <ion-segment-button value="tab1">
        <ion-icon name="fa-fal-weheal"></ion-icon>
        <span class="title">{{map['tab1'].title}}</span>
      </ion-segment-button>
      <ion-segment-button value="tab2">
        <ion-icon name="fa-fal-video"></ion-icon>
        <span class="title">{{map['tab2'].title }}</span>
      </ion-segment-button>
      <ion-segment-button value="tab3">
        <ion-icon name="fa-fal-testimonial"></ion-icon>
        <span class="title">{{map['tab3'].title }}</span>
      </ion-segment-button>
      <!-- <ion-segment-button value="tab4">
        {{map['tab4'].title | translate}}
      </ion-segment-button> -->
    </ion-segment>
</ion-header>


<ion-content>
    <ion-card *ngIf="selectedPage == 'tab1'">
      <ion-card-content class="inner-island-page">
        <ion-nav [root]="map['tab1'].component" [rootParams]="map['tab1'].params"></ion-nav>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="selectedPage == 'tab2'">
      <ion-card-content class="inner-island-page">
        <ion-nav [root]="map['tab2'].component" [rootParams]="map['tab2'].params"></ion-nav>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="selectedPage == 'tab3'">
      <ion-card-content class="inner-island-page">
        <ion-nav [root]="map['tab3'].component" [rootParams]="map['tab3'].params"></ion-nav>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card *ngSwitchCase="'tab4'">
      <ion-card-content class="inner-island-page">
        <ion-nav [root]="map['tab4'].component" [rootParams]="map['tab4'].params"></ion-nav>
      </ion-card-content>
    </ion-card> -->
  </ion-content>