page-home {
  .scroll-left {
    /* the height is just set to the height of my region. not sure if this is 
        needed? */
    height: 40px; 	
     overflow: hidden;
     position: relative;
     /* I'm using the transparent background as this is in an overlay layout */
     background: transparent;
     color: #000000;
     font-family:proxima nova rg bold;
     font-size: 40px;
     font-weight: bold;   
  }

  .scroll-left p {
     position: absolute;
     width: 100%;
     height: 100%;
     margin: 0;
     line-height: 40px;
     text-align: center;
     /* Starting position */
     -moz-transform:translateX(100%);
     -webkit-transform:translateX(100%);	
     transform:translateX(100%);
     /* Apply animation to this element */	
     -moz-animation: scroll-left 15s linear infinite;
     -webkit-animation: scroll-left 15s linear infinite;
     animation: scroll-left 15s linear infinite;
    }
    /* Move it (define the animation) */
    @-moz-keyframes scroll-left {
     0%   { -moz-transform: translateX(100%); }
     100% { -moz-transform: translateX(-100%); }
    }
    @-webkit-keyframes scroll-left {
     0%   { -webkit-transform: translateX(100%); }
     100% { -webkit-transform: translateX(-100%); }
    }
    @keyframes scroll-left {
     0%   { 
     -moz-transform: translateX(100%); /* Browser bug fix */
     -webkit-transform: translateX(100%); /* Browser bug fix */
     transform: translateX(100%); 		
     }
     100% { 
     -moz-transform: translateX(-100%); /* Browser bug fix */
     -webkit-transform: translateX(-100%); /* Browser bug fix */
     transform: translateX(-100%); 
     }
    }

    .splash-bg {
        position: relative;
        // background: url('../assets/img/static-app-banner.jpg') no-repeat transparent;
        background-size: contain;
        height: 45%;
        z-index: 1;
        background-repeat: repeat-x;
        // animation: animatedBackground 40s linear infinite;
      }
    
      // @keyframes animatedBackground {
      //   from { background-position: 0 0; }
      //   to { background-position: 100% 0; }
      // }
    
      .splash-info {
        position: relative;
        z-index: 2;
        margin-top: -64px;
        text-align: center;
      }
      .splash-logo {
        margin: auto;
        // background: url('../assets/img/dii.png') repeat transparent;
        background-size: 100%;
        width: 128px;
        height: 128px;
      }
      .splash-intro {
        font-size: large;
        font-style: italic;
        font-weight: bold;
        max-width: 80%;
        margin: auto;
      }

      div.message {
        font-size: large;
        padding: 0px 10px 0px 10px;
        p.message{
            font-size: 16px;
            color: #1b1c1d;
            text-shadow: 0 1px 1px rgba(255,255,255,0.1);
        }
      }
}
