<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only class="menu-button">
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-header>
	<ion-navbar>
		<button ion-button menuToggle icon-only>
			<ion-icon name='menu'></ion-icon>
		</button>
		<ion-title>{{'YOUTUBE_CHANNEL' | translate}}</ion-title>
	</ion-navbar>
</ion-header> -->

<ion-content>
  <ion-list>
    <ion-item text-wrap *ngFor="let video of videos" (tap)="loadVideo(video)">
      <ion-thumbnail item-left *ngIf="video.snippet.thumbnails.default.url">
        <img [src]="video.snippet.thumbnails.default.url">
      </ion-thumbnail>
      <h2 [innerHTML]="video.snippet.title"></h2>
    </ion-item>
  </ion-list>
</ion-content>