<ion-header>
    <ion-navbar>
      <button ion-button menuToggle icon-only class="menu-button">
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title>{{title}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-content class="banner-container" text-wrap>
        <img *ngIf="heroImage" [src]="heroImage" />
        <p padding *ngIf="content" padding [innerHTML]="content"></p>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item text-wrap *ngFor="let post of initiatives" (tap)="openModal(post)">
        <ion-thumbnail item-left *ngIf="post.thumbnail">
            <img [src]="post.thumbnail" />
        </ion-thumbnail>
        <h2 [textContent]="post.title"></h2>
        <p [innerHTML]="post.excerpt"></p>
      </ion-item>
    </ion-list>

  </ion-content>