// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$background-color: #f7f7f7;
$text-color: #5d5d5d;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #958074,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f1eeec,//#f4f4f4,//
  dark:       #222
);

$tabs-tab-color-active: #8e2014;
$tab-background: #f0f0f0;
$toolbar-background: color($colors, primary);
$text-input-highlight-color-valid: #5fcfdb;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
ion-app{
  ion-menu {
    ion-header {
      ion-toolbar {
        div.toolbar-background {
          background-image: url(../assets/img/header_bg_plain.jpg) !important;
        }
      }
      ion-title {
        div.toolbar-title {
          color: #8e2014;
        }
        img {
          height: 41px;
        }
      }
    }
    ion-content {}
  }

  
  ion-header {
    ion-navbar {
      div.toolbar-background {
        background-image: url(../assets/img/header_bg_plain.jpg) !important;
      }
      ion-title {
        div.toolbar-title {
          color: #8e2014;
        }
        img {
          height: 41px;
        }
      }
    }
  }

  ion-content {
    .card-ios, .card-md, .card-wp, {
      // margin: 0px 0px 10px;
      margin: 0px;
      width: 100%;
    }
    ion-card {
      ion-card-content.inner-page {
        .fixed-content, .scroll-content {
            margin-bottom: 0px !important;
        }
        .bar-button-menutoggle {
            display: none;    
        }
      }
      ion-card-content.inner-island-page {
        .fixed-content, .scroll-content {
            margin: 0px !important;
        }
        ion-header {
            display: none;    
        }
      }
    }
  }
}

div.modal-wrapper {
  button.menu {
    display: none;
  }
  button.close {
    color: #8e2014;
  }
}

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
