page-image-slider {
    div.close {
        z-index: 100;
        position: absolute;
        right: 2px;
    }
    ion-slides {
        background-color: black;
    }
    .slider-slide
    {
      text-align: center;  
    }
    .slider-slide img {
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }
    .swiper-pagination-bullet {
        background: #fff;
    }
}
