<ion-header>
    <ion-navbar>
      <button ion-button menuToggle icon-only class="menu-button">
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title>{{title}}</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-title>{{subTitle}}</ion-title>
      </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ng-template >
      <div padding id="app-section" text-center>
        <ion-icon color="primary" name="musical-notes"></ion-icon>
        <h2 id="app-title" [textContent]="title">Chords of Consciousness</h2>
        <button outline ion-button block color="primary" *ngIf="!loggedIn" (tap)="login()">Log In</button>
      </div>
    </ng-template>
  
    <ion-list *ngIf="files.length">
        <!-- <ion-scroll> -->
          <ng-container *ngFor="let file of files; let i = index; let first = first">
            <div class="box">
              <!-- <div *ngIf="first && file.newLaunchFlag" class="corner-ribbon">New Release</div> -->

                <ion-item text-wrap (tap)="openFile(file, i)" [ngClass]="{'new' : file.highlight}">
                <ion-icon color="primary" item-start name="musical-note"></ion-icon>
                
                <p class="music_launch">{{ file.launchMessage }}</p>
                <h2 class="track_title">{{ file.name }}</h2>
                <p *ngIf="file.artist">Singer: {{ file.artist }}</p>
                <p *ngIf="file.composer">Composer: {{ file.composer }}</p>
                <p *ngIf="file.lyricist">Lyricist: {{ file.lyricist }}</p>
                <p item-end *ngIf="currentFile.index === i">SELECTED</p>
                <ion-icon item-end name="play" *ngIf="currentFile.index !== i"></ion-icon>
              </ion-item>
            </div>
          </ng-container>
        <!-- </ion-scroll> -->
    </ion-list>
  </ion-content>

  <ion-footer>
      <ion-toolbar color="primary">
          <ion-range min="0" color="light" [max]="state.durationSec" [formControl]="seekbar" (ionFocus)="onSeekStart()" (ionBlur)="onSeekEnd($event)"
            name="seekbar">
            <ion-label color="light" range-left>{{ state.time }}</ion-label>
            <ion-label color="light" range-right>{{ state.duration }}</ion-label>
          </ion-range>
        </ion-toolbar>
        <ion-toolbar color="primary">
            <ion-grid>
              <ion-row align-items-center id="media-controls">
                <button clear ion-col ion-button [disabled]="isFirstPlaying()" (tap)="previous()">
                  <ion-icon color="light" name="skip-backward"> </ion-icon>
                </button>
                <button clear ion-col ion-button *ngIf="!state.playing" (tap)="play()">
                  <ion-icon color="light" name="play"></ion-icon>
                </button>
                <button clear ion-col ion-button *ngIf="!!state.playing" (tap)="pause()">
                  <ion-icon color="light" name="pause"></ion-icon>
                </button>
                <button clear ion-col ion-button [disabled]="isLastPlaying()" (tap)="next()">
                  <ion-icon color="light" name="skip-forward"></ion-icon>
                </button>
              </ion-row>
            </ion-grid>
          </ion-toolbar>
        </ion-footer>